header {
    padding: 120px;
    text-align: center;
    background-color: aqua;
    font-size: 30px;
  }

  h1 {color:rgb(4, 72, 77)}

  .moveright {
    text-align: right;
  }

  .centered {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
  }

  .moveleft {
    text-align:left;
  }

@media screen and (max-width: 1024px) {
    header{
      background-color:slateblue;
    }
  }
 
 
  @media screen and (max-width: 720px) {
    header{
      background-color:darkcyan;
    }
  } 

@media screen and (max-width: 480px) {
  header{
    background-color: rebeccapurple;
  }
}
