.header {
    padding: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(rgb(0, 200, 255), rgb(1, 53, 57));
    color: white;
    font-size: 30px;
  }

/*
  .wave {
    position:relative;
    background:linear-gradient(rgb(0, 200, 255), rgb(4, 72, 77));
  }
*/

  h2 {color:rgb(4, 72, 77)}

  .moveright {
    text-align: right;
  }

  .centered {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
  }

  .moveleft {
    text-align:left;
  }